<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%INFO] [%logger]: %msg%n"/>
        </Console>
        <File name="TwModFile" fileName="logs/twmod.log" append="false">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t/%LEVEL] [%logger]: %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="twmod" level="info" additivity="true">
            <AppenderRef ref="TwModFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
